@media all {
  /* Chat containers */
  .mycontainer {
    border: 2px solid #dedede;
    background-color: #F9F9FA;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  /* Clear floats */
  .mycontainer::after {
    content: "";
    clear: both;
    display: table;
  }
  .myscro {
    overflow-y: scroll;
  }
  .time-text {
    float: right;
    color: #aaa;
  }
}
