<div class="container">
    <br>
    <h4>Chat Room</h4>
    <br>
    <div *ngFor="let chat of messages">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="card mycard">
                <div class="card-header">
                    <span class="time-text p-1">{{chat.created | date:'medium'}}</span>
                    <img class="p-2" src="assets/images/person.png" alt="bild">
                    <strong>{{chat.sender.name}}</strong><br>
                </div>
                <div class="card-body p-1">
                    <p class="card-text">{{chat.message}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <form #sendMsg="ngForm" (ngSubmit)="onSubmit($event)">
            <div class="popup-messages-footer">
                <div class="form-group">
                    <input type="text" class="form-control" name="chatBox" id="status_message"
                        placeholder="Type a message..." [(ngModel)]=" chatBox"></div>
                <div class="form-group mybuttonsULc">
                    <ul>
                        <li>
                            <button type="submit" class="btn btn-outline-success btn-block"
                                [disabled]="!sendMsg.form.valid">Send</button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-outline-success btn-block" [routerLink]="['/issues']">
                                Cancel
                            </button>
                        </li>
                    </ul>

                </div>

            </div>
        </form>
    </div>
</div>