<div class="container">
<br>
    <h4>Group Chat</h4>
<br>
<div class="myscro">
    <div *ngFor="let chat of messages;">
        <div class="mycontainer">
            <span class="time-text">{{chat.sender.name}}</span>
            <p>{{chat.message}}</p>
            <span class="time-text">{{chat.created | date:'medium'}}</span>
        </div>
    </div>
</div>
<form #sendMsg="ngForm" (ngSubmit)="onSubmit($event)">
    <div class="popup-messages-footer">
        <div class="form-group">
            <input type="text" class="form-control" name="chatBox" id="status_message" placeholder="Type a message..."
                [(ngModel)]=" chatBox"></div>
        <div class="form-group mybuttonsULc">
            <ul>
                <li>
                    <button type="submit" class="btn btn-outline-success btn-block"
                        [disabled]="!sendMsg.form.valid">Send</button>
                </li>
                <li>
                    <button type="button" class="btn btn-outline-success btn-block" [routerLink]="['/issues']">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                </li>
            </ul>

        </div>

    </div>
</form>
</div>