$theme-colors: (
  "success": #ff7e67,
);
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/modal";
@import "styles-variables";

@media all {
  .mybuttonsULc ul {
    list-style: none;
    padding-left: 0;
  }
  .mycommentsUlc ul {
    list-style: none;
    padding-left: 0;
  }
  .mycommentsUlc u {
    text-decoration: none;
  }
  .my-bg-dark {
    background-color: #035aa6;
  }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
  .mybuttonsULc ul {
    display: flex;
  }
  .mybuttonsULc li {
    margin-right: 15px;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .mybuttonsULc li {
    margin-bottom: 15px;
  }
  .nav-link {
    display: block;
    padding: 8px 16px;
  }
}
