<br>
<h4>Issue Comments</h4>
<br>
<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <form #commentForm="ngForm" (ngSubmit)="onComment(commentForm)">
        <div class="form-group">
            <textarea name="text" class="form-control" rows="5" id="comment" placeholder="Comment"
                [(ngModel)]="comment"></textarea>
        </div>
        <div class="form-group mybuttonsULc">
            <ul>
                <li>
                    <button type="submit" class="btn btn-outline-success btn-block"
                        [disabled]="!commentForm.form.valid">Add a Comment</button>
                </li>
                <li>
                    <button type="button" class="btn btn-outline-success btn-block" (click)="backToIssue()">
                        Back to Issue
                    </button>
                </li>
            </ul>
        </div>
    </form>
</div>
<div class="mycommentsUlc">
    <ul>
        <li *ngFor="let comment of commentsInfo">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card mycard">
                    <div class="card-header">
                        <span class="time-text p-1">{{comment.created | date:'medium'}}</span>
                        <img class="p-2" src="assets/images/person.png" alt="bild">
                        <strong>{{comment.byUserName}}</strong><br>
                    </div>
                    <div class="card-body p-1">
                        <p class="card-text">{{comment.text}}</p>
                    </div>
                    <div class="mybuttonsULc p-1">
                        <ul>
                            <li>
                                <button type="button" class="btn btn-outline-success btn-block"
                                    (click)="deleteComment(comment.id)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>